.particles {

    position: absolute;

    inset: 0;

    overflow: hidden;

    pointer-events: none;

    z-index: 2;

}

.particle {

    position: absolute;

    border-radius: 50%;

    background: white;

    opacity: .75;

    box-shadow:
        0 0 8px rgba(255, 255, 255, .9),
        0 0 18px rgba(255, 255, 255, .55);

    animation: float 16s ease-in-out infinite;

}

/* Tamaños diferentes */

.p1 {
    width: 2px;
    height: 2px;
    top: 12%;
    left: 8%;
    animation-delay: 0s;
}

.p2 {
    width: 4px;
    height: 4px;
    top: 22%;
    left: 62%;
    animation-delay: 2s;
}

.p3 {
    width: 3px;
    height: 3px;
    top: 68%;
    left: 15%;
    animation-delay: 5s;
}

.p4 {
    width: 5px;
    height: 5px;
    top: 18%;
    left: 82%;
    animation-delay: 1s;
}

.p5 {
    width: 2px;
    height: 2px;
    top: 82%;
    left: 76%;
    animation-delay: 6s;
}

.p6 {
    width: 4px;
    height: 4px;
    top: 55%;
    left: 48%;
    animation-delay: 4s;
}

.p7 {
    width: 3px;
    height: 3px;
    top: 90%;
    left: 58%;
    animation-delay: 8s;
}

.p8 {
    width: 2px;
    height: 2px;
    top: 38%;
    left: 28%;
    animation-delay: 3s;
}

/* Movimiento */

@keyframes float {

    0% {

        transform: translate(0, 0);

        opacity: .35;

    }

    25% {

        transform: translate(10px, -12px);

        opacity: .9;

    }

    50% {

        transform: translate(-8px, -24px);

        opacity: .55;

    }

    75% {

        transform: translate(12px, -10px);

        opacity: 1;

    }

    100% {

        transform: translate(0, 0);

        opacity: .35;

    }

}